@font-face {
    font-family: OpenSans;
    src: url('./fonts/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('./fonts/OpenSans-LightItalic.ttf') format('ttf');
}

div {
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
}

p {
    font-family: OpenSans;
    font-weight: 300;
    font-style: italic;
}